<div class="intro-container">
  <h1>Vartojimo paskola</h1>
  <h2>Paskolos, kurios padeda</h2>
  <p>
    Vartojimo paskola pravers, jei planuojate atnaujinti namus, remontuoti automobilį, įsigyti naujų baldų, buitinės
    technikos, ar kitą brangesnį daiktą.
  </p>
  <ul class="list">
    <li class="list-element">Paskola nuo 500 iki 20 000 Eur be užstato.</li>
    <li class="list-element">Pinigus pervesime Jums į sąskaitą iš karto po sutarties sudarymo.</li>
    <li class="list-element">Pasiskolintą sumą ar jos dalį galėsite grąžinti anksčiau laiko be papildomų mokesčių.</li>
  </ul>
  <a href="/application">
    <button mat-button>Pildyti paraišką</button>
  </a>
  <p>
    Atkreipiame dėmesį, kad naudodamiesi finansavimo paslaugomis Jūs prisiimate finansinius įsipareigojimus. Netinkamas
    finansinių įsipareigojimų vykdymas gali daryti neigiamą įtaką Jūsų kredito istorijai, pabranginti skolinimąsi, taip
    pat gali būti pradėtas priverstinis išieškojimas.
  </p>
</div>
