.intro-container {
  margin: 1%;
  padding-bottom: 10px;
  background-color: #d1eaa3;
}

h1 {
  padding: 10px;
  margin: 0;
}

h2 {
  margin: 0;
}

.content-box {
  display: flex;
  align-items: flex-start;
}

.text {
  padding: 1%;
  width: 60%;
}

.picture-container {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
}

.picture-container img {
  width: 40%;
  height: auto;
  padding: 10px;
}

@media only screen and (max-width: 320px) {
  .picture-container {
    order: 1;
    width: 100%
  }

  .text {
    order: 2;
    width: 100%
  }

  .content-box {
    flex-direction: column
  }
}
