<div class="form-container">
  <form [formGroup]="applicationForm">
    <mat-horizontal-stepper labelPosition="bottom" linear #stepper>

      <mat-step [stepControl]="generalInformationForm">
        <ng-template matStepLabel>Bendra informacija</ng-template>
        <app-general-information [parentForm]="applicationForm" required></app-general-information>
        <div>
          <button mat-button matStepperNext>Kitas</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="getLoanApplicationForm">
        <ng-template matStepLabel>Paraiška</ng-template>
        <app-loan-application [parentForm]="applicationForm" required></app-loan-application>
        <div>
          <button mat-button matStepperPrevious>Atgal</button>
          <button mat-button matStepperNext>Kitas</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="getAdditionalInformationForm">
        <ng-template matStepLabel>Papildoma informacija</ng-template>
        <app-additional-information [parentForm]="applicationForm" required></app-additional-information>
        <div>
          <button mat-button matStepperPrevious>Atgal</button>
          <button mat-button matStepperNext>Kitas</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  <button mat-button (click)="displayFormData()">Display form data</button>
</div>
