.general-info-container {
  display: flex;
  flex-direction: row;
}

.input {
  margin: 10px;
}

.label {
  margin: 2px;
}

@media only screen and (max-width: 320px) {
  .general-info-container {
    display: flex;
    flex-direction: column;
  }

  .input {
    display: flex;
    flex-direction: column;
  }
}
