<div class="form-container">
  <mat-horizontal-stepper class="stepper" labelPosition="bottom" #stepper>

    <mat-step [stepControl]="generalInformationForm">
      <ng-template matStepLabel>Bendra informacija</ng-template>
      <app-general-information></app-general-information>
      <div>
        <button mat-raised-button color="primary" matStepperNext (click)="generalInformationComponent.validateGeneralInformation()">Kitas
        </button>
      </div>
    </mat-step>

    <mat-step [stepControl]="loanApplicationForm">
      <ng-template matStepLabel>Paraiška</ng-template>
      <app-loan-application></app-loan-application>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Atgal</button>
        <button mat-raised-button color="primary" matStepperNext>Kitas</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="additionalInformationForm">
      <ng-template matStepLabel>Papildoma informacija</ng-template>
      <app-additional-information></app-additional-information>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Atgal</button>
        <button mat-raised-button color="primary" matStepperNext (click)="buildApplicationTO()">Kitas</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Santrauka</ng-template>
      <div *ngIf="applicationTO !== undefined">
        <app-summary [applicationData]="applicationTO"></app-summary>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Atgal</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
