<form [formGroup]="generalInformationForm">
  <mat-label>Vardas</mat-label>
  <mat-form-field>
    <input matInput name="name" formControlName="name" required>
    <mat-hint align="end">{{generalInformationForm.controls.name.value.length}} / {{MAXIMUM_NAME_LENGTH}}</mat-hint>
  </mat-form-field>

  <mat-label>Pavardė</mat-label>
  <mat-form-field>
    <input matInput name="last-name" formControlName="lastName" required>
    <mat-hint
      align="end">{{generalInformationForm.controls.lastName.value.length}} / {{MAXIMUM_LAST_NAME_LENGTH}}</mat-hint>
  </mat-form-field>

  <mat-label>Asmens kodas</mat-label>
  <mat-form-field>
    <input matInput name="pid" formControlName="pid" required>
    <mat-hint align="end">{{generalInformationForm.controls.pid.value.length}} / {{PID_LENGTH}}</mat-hint>
  </mat-form-field>
</form>
