html, body {
  height: 100%;
  background-color: #efee9d;
}

body {
  margin: 1px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-horizontal-content-container {
  justify-content: center;
}
